* {
    background-color: gray;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr;
}

/* HEADER START*/

#header {
    border: 2px solid black;
    background-color: whitesmoke;
    grid-column: 2 / 4;
    grid-row: 0 / 1;
}

#intro-user {
    font-size: 18px;
}

#user-name {
    font-size: 26px;
}

input {
    height: 26px;
    width: 900px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

#profile-pic-1 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#search-svg {
    width: 24px;
    height: 24px;
}

#alert-svg {
    width: 24px;
    height: 24px;    
}

#profile-pic-2 {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#search-bar-box {
    /* border: 2px solid rgb(199, 43, 43); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around

    
    /* display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr; */

}

#search-svg{
    padding-right: 20px;
}

#alert-svg {
    padding-left:20px;
}

#flex-container-search-bar {
    border: 2px solid blue;
    display: flex;
    width: 400px;
    flex-grow: 0.7;

}

#flex-username {
    /* border: 2px solid salmon; */
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 120px;
}

#user-block {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr;
    /* border: 2px solid salmon; */
    grid-row: 1 / 2;
    align-items: center;
}

button {
    font-size: 20px;
    padding: 12px;
    border-radius: 26px;
    width: 120px;
    border-style: solid;

}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid gold;
    grid-column: 3 / 4;

}

/* HEADER END*/



